<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.mybatisplus.mapper.TDroneCityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zk.mybatisplus.model.TDroneCity">
        <id column="city_id" property="cityId" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="short_name" property="shortName" />
        <result column="province_code" property="provinceCode" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="state" property="state" />
    </resultMap>

</mapper>
